ul {
  font-size: x-large;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
  /* align items horizontally */
}

li {
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

li a.active {
 background-color: slategrey;
}

li a:hover {
  background-color: #111;
}

h2 h3 {
  margin-left: 30px;
  color: #1d304a;
}

p.food-stats img:not(:first-child) {
  margin-left: 20px;
}

p.food-stats img {
  margin-right: 6px;
}

.coin-indicator {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 7px 10;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.coin-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../images/coin.png");
  background-size: cover;
  margin-right: 5px;
}

.coin-count {
  font-size: 30px;
  font-weight: bold;
}

.link-light {
  text-decoration: none;
  font-size: 20px;
}

.link-light:hover {
  cursor: pointer;
}