@font-face {
  font-family: 'nine';
  src: url('../fonts/nine0.ttf') format('truetype');
}

body {
  font-family: 'nine', sans-serif;
  overflow-x: hidden;
}

button.foodCounter:hover {
  transform: scale(1.1);
}

button.foodCounter {
  text-decoration: none; 
  color: white; 
  background-color: #212529; 
  border: none;
}

.join-btn img:hover {
  transform: translateY(-4px);
}

.footer-creator a {
  color: white;
}

.footer-creator li:hover {
  transform: translateY(-2px);
}

.footer-direct li:hover {
  transform: translateY(-2px);
}

.pet-wallpaper {
  height: 550px; 
  width: auto; 
  border: 5px solid black; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: relative; 
  background-size: cover; 
  background-position: center;
}

.dashboard-inventory {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  display: flex; 
  align-items: center; 
  margin: 5px; 
  background: rgba(0, 0, 0, 0.8); 
  padding: 2px 8px 2px;
}